* {
  box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 100%;
  overflow-x: hidden;
}

main, .main {
  background-color: #EEE;
}

h1, h2, h3, h4, h5, h6, p {
  max-width: 60rem;
}

h1 {
  font-size: 1.625rem;
  margin-top: 0;
}

p {
  line-height: 1.5;
  margin-top: 0;
}

h4 {
  margin-bottom: .5em;
}

img {
  max-width: 100%;
}

.container {
  padding: 1.5rem 3rem 0 3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 90rem;
}

.text--left { text-align: left; }
.text--center { text-align: center; }
.text--small { font-size: .875rem; }
.text--big { font-size: 1.125rem;  }
.text--bold { font-weight: bold; }
