@media print {

  .header,
  .filter-container,
  .table-footer button {
    display: none;
  }

  .main {
    background-color: white;
    padding: 0;
  }

  .data-table {
    box-shadow: none;
    padding: 0;
    overflow: visible;
  }

  .data-table table,
  .data-table tbody,
  .data-table td,
  .data-table th {
    border-color: #ccc !important;
  }

}

